<!doctype html>
<html>
<head>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" /> -->
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script language="javascript">
function armToggle(anctag,darg){
  var ele = document.getElementById(darg);
  var disp = document.getElementById(anctag);
  var inputs = document.getElementsByTagName('input');
  var textArea = document.getElementById('textMsg');
  var carr = document.getElementById('carrier');
  if(disp.getAttribute('disabled') == 'disabled'){
    disp.removeAttribute('disabled');
    ele.className = 'btn btn-success btn-block';
    ele.textContent = 'DISARM';
    for(var i = 0; i < inputs.length; i++){
      var inp = inputs.item(i);
      inp.setAttribute('disabled', 'disabled');
    }
    textArea.setAttribute('disabled', 'disabled');
    carr.setAttribute('disabled', 'disabled');
  }
  else{
    disp.setAttribute('disabled','disabled');
    ele.className = 'btn btn-default btn-block';
    ele.textContent = 'ARM';
    for(var i = 0; i < inputs.length; i++){
      var inp = inputs.item(i);
      inp.removeAttribute('disabled');
    }
    textArea.removeAttribute('disabled');
    carr.removeAttribute('disabled');
  }
}
function sendRequest(){
  var data = {
    "gmailUser" : $("#gmailUser").val(),
    "gmailPass" : $("#gmailPass").val(),
    "phoneNum" : $("#phoneNum").val(),
    "carrier" : $("#carrier").val(),
    "textMsg" : $("#textMsg").val(),
    "timesNum" : $("#timesNum").val()
  }
  $.post("/spam", data);
}
</script>
<title>SMSpammer</title>
</head>
<body>
<div class="container">
<h1>SMSpammer</h1><h2>Powered by Flask</h2>
<div class="col-md-6">
<form role="form">
  <div class="form-group">
    <label for="gmailUser">Gmail username</label>
    <input type="email" class="form-control" id="gmailUser" placeholder="Enter Email" required>
  </div>
  <div class="form-group">
    <label for="gmailPass">Gmail password</label>
    <input type="password" class="form-control" id="gmailPass" placeholder="Enter password" required>
  </div>
  <div class="form-group">
    <label for="phoneNum">Phone #</label>
    <input type="tel" class="form-control" id="phoneNum" pattern="d{10}" placeholder="10 digit number" required>
  </div>
  <div class="form-group">
    <label for="carrier">Carrier</label>
    <select class="form-control" id="carrier" required>
      {% for carrier in carriers %}<option>{{ carrier }}</option>{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="textMsg">Text message</label>
    <textarea class="form-control" id="textMsg" placeholder="Message to send" rows=3 required></textarea>
  </div>
  <div class="form-group">
    <label for="timesNum">Times to send</label>
    <input type="number" class="form-control" pattern="d{1,5}" id="timesNum" placeholder="500" required>
    </div>
<button type="button" class="btn btn-default btn-block" onClick="armToggle('armed','armBtn');" id="armBtn">ARM</button>
<br />
<button type="button" onClick="sendRequest();" class="btn btn-danger btn-block" id="armed" disabled="disabled">ATTACK</button>
</form>
</div>
</div>
</body>
</html>

